[submodule "monero"]
	path = monero
	url = https://github.com/monero-classic-lab/monero-classic-v4.git
	ignore = all
[submodule "external/quirc"]
	path = external/quirc
	url = https://github.com/dlbeer/quirc/
